<app-navbar></app-navbar>
<div class="jumbatron text-center">
  <h1 class="display-4">About Us</h1>
  <p class="lead">This is about us page</p>
</div>
<div class="container">
  <section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quae voluptatibus incidunt, adipisci deleniti cum
      sequi rem, nesciunt eligendi officia libero nostrum alias dicta minima repellat illum dolorum corrupti quam
      asperiores, tenetur expedita. Praesentium totam tenetur accusantium dolores, temporibus vitae impedit! Rerum
      explicabo qui placeat harum voluptates quas possimus, ex, similique labore necessitatibus natus facilis? Unde
      recusandae perferendis temporibus quos sint obcaecati perspiciatis nam cumque enim adipisci? Facere reprehenderit
      aliquam a, dolore quidem quae voluptatem placeat iure ab nulla aperiam perspiciatis maxime. Ea ipsa, id officiis
      minus tenetur aperiam quod nemo placeat quidem esse atque et vitae itaque laudantium quas?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, laboriosam qui, eligendi aperiam cum laborum unde cupiditate numquam molestias, autem ut neque facilis similique eveniet eum doloremque itaque! Quibusdam architecto fugiat nobis quo consequuntur neque reiciendis, eos dignissimos reprehenderit enim ex quos perferendis ad nostrum magnam non cum necessitatibus earum sapiente id velit distinctio nemo. Laudantium quas qui aliquam totam amet aut adipisci incidunt maiores ut hic quis ad eligendi quaerat voluptates, maxime quia non inventore consequuntur. Laborum aspernatur accusamus expedita, sit, temporibus a eos, beatae sequi minus dicta tempora doloremque? Modi similique molestias saepe harum dicta eligendi iure fugit?
      </p>
  </section>
</div>
