<app-navbar></app-navbar>
<div class="jumbatron text-center">
  <h1 class="display-4">Contact Us</h1>
  <p class="lead">This is Contact us page</p>
</div>
<div class="container">
  <section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quae voluptatibus incidunt, adipisci deleniti cum
      sequi rem, nesciunt eligendi officia libero nostrum alias dicta minima repellat illum dolorum corrupti quam
      asperiores, tenetur expedita. Praesentium totam tenetur accusantium dolores, temporibus vitae impedit! Rerum
      explicabo qui placeat harum voluptates quas possimus, ex, similique labore necessitatibus natus facilis? Unde
      recusandae perferendis temporibus quos sint obcaecati perspiciatis nam cumque enim adipisci? Facere reprehenderit
      aliquam a, dolore quidem quae voluptatem placeat iure ab nulla aperiam perspiciatis maxime. Ea ipsa, id officiis
      minus tenetur aperiam quod nemo placeat quidem esse atque et vitae itaque laudantium quas?</p>
  </section>
</div>
